$main-bgColor : #f7f7f7;
$main-textColor:#9a7936;
$primaryLight: '#C4A563';
$primaryDark: '#7A612B';
$primaryLite: '#E6D2A8';
$secondary: '#3FD5B7';
$third: '#D9774A';
$del-price-color: rgba(0,0,0,0.6)