@media (max-width: 870px) {
  .title {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .title h3 {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .title h3 {
    margin: 0;
    font-size: 18px !important;
  }
}
